
<footer class="border-top footer text-muted bg-dark">
    <div class="container">
        &copy; 2021 - Mail Order Pharmacy Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>