
@{
    ViewData["Title"] = "About";
}


<div class="container">
    <h1>Developed By</h1>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Raj Kumar Chaurasiya</div>
                935826@cognizant.com
            </div>
            <span class="badge bg-primary rounded-pill">935826</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Jatin</div>
                935298@cognizant.com
            </div>
            <span class="badge bg-primary rounded-pill">935298</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Amlesh Roy</div>
                935380@cognizant.com
            </div>
            <span class="badge bg-primary rounded-pill">935380</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Nikhil Kaushik</div>
                936043@cognizant.com
            </div>
            <span class="badge bg-primary rounded-pill">936043</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Sushil Kumar Chaurasiya</div>
                935827@cognizant.com
            </div>
            <span class="badge bg-primary rounded-pill">935827</span>
        </li>
    </ol>
</div>


