@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mail Order Pharmacy Portal</h1>
    <p style="margin-top: 34px; margin-bottom: 1rem; font-weight: 400; font-size: x-large; color: black; ">One Stop For All Your Drugs Need</p>
    
</div>
